{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div id="journalListPage" class="headerOn main-blog page-width section-{{ section.id }}-padding">
  {%- paginate blog.articles by 12 -%}
  <section id="journalSec">
    <div class="contentIn {{ current_tags }}">
      <h2>JOURNAL</h2>

      <div id="journalCategory" class="journalBlock">
        <div class="acJournalBox">
          <input id="acJournalCat01" name="acJournalCat01" type="checkbox" />
          <label for="acJournalCat01">Category</label>
          <div class="acBlock2">
            <ul class="journalCategoryList01">
              <li><a href="{{ blog.url }}">ALL</a></li>
              <li><a href="{{ blog.url }}/tagged/PEDIA">PEDIA</a></li>
              <li><a href="{{ blog.url }}/tagged/COUNSELING">COUNSELING</a></li>
              <li><a href="{{ blog.url }}/tagged/CRAFTMAN">CRAFTMAN</a></li>
              <li><a href="{{ blog.url }}/tagged/INSIDE">INSIDE</a></li>
              <li><a href="{{ blog.url }}/tagged/CREATION">CREATION</a></li>
              <li><a href="{{ blog.url }}/tagged/LIFESTYLE">LIFE STYLE</a></li>
              <li><a href="{{ blog.url }}/tagged/CULTURE">CULTURE</a></li>
              <li><a href="{{ blog.url }}/tagged/PRODUCT">PRODUCT</a></li>
              <li><a href="{{ blog.url }}/tagged/STAFFVOICE">STAFF VOICE</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div id="journalTag" class="journalBlock">
        <div class="acJournalBox">
          <input id="acJournalTag01" name="acJournalTag01" type="checkbox" />
          <label for="acJournalTag01">Tag Search</label>
          <div class="acBlock">
            <ul class="journalTagList01">
              <li><a href="{{ blog.url }}/tagged/HOWTO">#HOWTO</a></li>
              <li><a href="{{ blog.url }}/tagged/KATO">#KATO</a></li>
              <li><a href="{{ blog.url }}/tagged/YUI">#YUI</a></li>
              <li><a href="{{ blog.url }}/tagged/インタビュー">#インタビュー</a></li>
              <li><a href="{{ blog.url }}/tagged/キャップ">#キャップ</a></li>
              <li><a href="{{ blog.url }}/tagged/コラム">#コラム</a></li>
              <li><a href="{{ blog.url }}/tagged/ショートバイザー">#ショートバイザー</a></li>
              <li><a href="{{ blog.url }}/tagged/スタッフ">#スタッフ</a></li>
              <li><a href="{{ blog.url }}/tagged/ハット">#ハット</a></li>
              <li><a href="{{ blog.url }}/tagged/バケットハット">#バケットハット</a></li>
              <li><a href="{{ blog.url }}/tagged/ベレー">#ベレー</a></li>
              <li><a href="{{ blog.url }}/tagged/メトロハット">#メトロハット</a></li>
              <li><a href="{{ blog.url }}/tagged/商品紹介">#商品紹介</a></li>
              <li><a href="{{ blog.url }}/tagged/深い">#深い</a></li>
              <li><a href="{{ blog.url }}/tagged/生地">#生地</a></li>
              <li><a href="{{ blog.url }}/tagged/軽い">#軽い</a></li>
          </div>
        </div>
      </div>

      <ul id="journalList" class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
        {%- for article in blog.articles -%}
        <li class="blog-articles__article {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
        >
          <a href="{{ article.url }}">
            <div class="imgBlock">
              {%- if article.image -%}
                <img src="{{ article.image.src | image_url: width: 320 }}">
              {%- else -%}
                <img src="{{ 'img_noimage_sqr.png' | asset_url }}" alt="No image">
              {% endif %}
            </div>
            <p class="journalTtl">{{ article.title | escape }}</p>
            {%- if show_date -%}
              <p class="journalDate">{{ article.published_at | date: '%Y.%m.%d' }}</p>
            {%- endif -%}
          </a>
          {%- if article.tags != blank -%}
           <div class="tagList">
            {% for tag in article.tags -%}
              <span>#{{ tag }}</span>　
            {%- endfor %}
            </div>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </section>
  {%- endpaginate -%}

  {%- if block.settings.article1 != blank 
  or block.settings.article2 != blank 
  or block.settings.article3 != blank 
  or block.settings.article4 != blank -%}
  <section id="journalReccomendSec">
    <div class="contentIn">
      <h3>RECOMMEND</h3>
      <ul id="journalReccomendList">
      {%- if  block.settings.article1 != blank -%}
        <li>
          <a href="{{ block.settings.article1.url }}"> 
            <div class="imgBlock">
              <img src="{{ block.settings.article1.image | image_url: width: 400 }}">
            </div>
            <div class="txtBlock">
              <p class="journalTtl">{{ block.settings.article1.title }}</p>
              <p class="journalDate">{{ block.settings.article1.published_at | date: '%Y.%m.%d' }}</p>
              <div class="tagList">
                {%- if block.settings.article1.tags != blank -%}
                  {% for tag in block.settings.article1.tags -%}
                    <span>{{ tag }}</span>　
                  {%- endfor %}
                {%- endif -%}
              </div>
            </div>
          </a>
        </li>
      {%- endif -%}
      {%- if  block.settings.article2 != blank -%}
        <li>
          <a href="{{ block.settings.article2.url }}"> 
            <div class="imgBlock">
              <img src="{{ block.settings.article2.image | image_url: width: 400 }}">
            </div>
            <div class="txtBlock">
              <p class="journalTtl">{{ block.settings.article2.title }}</p>
              <p class="journalDate">{{ block.settings.article2.published_at | date: '%Y.%m.%d' }}</p>
              <div class="tagList">
                {%- if block.settings.article2.tags != blank -%}
                  {% for tag in block.settings.article2.tags -%}
                    <span>{{ tag }}</span>　
                  {%- endfor %}
                {%- endif -%}
              </div>
            </div>
          </a>
        </li>
      {%- endif -%}
      {%- if  block.settings.article3 != blank -%}
        <li>
          <a href="{{ block.settings.article3.url }}"> 
            <div class="imgBlock">
              <img src="{{ block.settings.article3.image | image_url: width: 400 }}">
            </div>
            <div class="txtBlock">
              <p class="journalTtl">{{ block.settings.article3.title }}</p>
              <p class="journalDate">{{ block.settings.article3.published_at | date: '%Y.%m.%d' }}</p>
              <div class="tagList">
                {%- if block.settings.article3.tags != blank -%}
                  {% for tag in block.settings.article3.tags -%}
                    <span>{{ tag }}</span>　
                  {%- endfor %}
                {%- endif -%}
              </div>
            </div>
          </a>
        </li>
      {%- endif -%}
      {%- if  block.settings.article4 != blank -%}
        <li>
          <a href="{{ block.settings.article4.url }}"> 
            <div class="imgBlock">
              <img src="{{ block.settings.article4.image | image_url: width: 400 }}">
            </div>
            <div class="txtBlock">
              <p class="journalTtl">{{ block.settings.article4.title }}</p>
              <p class="journalDate">{{ block.settings.article4.published_at | date: '%Y.%m.%d' }}</p>
              <div class="tagList">
                {%- if block.settings.article4.tags != blank -%}
                  {% for tag in block.settings.article4.tags -%}
                    <span>{{ tag }}</span>　
                  {%- endfor %}
                {%- endif -%}
              </div>
            </div>
          </a>
        </li>
      {%- endif -%}
      </ul>
    </div>
  </section>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
