{%- if section.settings.article1 != blank 
  or section.settings.article2 != blank 
  or section.settings.article3 != blank 
  or section.settings.article4 != blank -%}
<section id="journalReccomendSec">
  <div class="contentIn">
    <h3>RECOMMEND</h3>
    <ul id="journalReccomendList">
    {%- if section.settings.article1 != blank -%}
      <li>
        <a href="{{ section.settings.article1.url }}"> 
          <div class="imgBlock">
            <img src="{{ section.settings.article1.image | image_url: width: 400 }}">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">{{ section.settings.article1.title }}</p>
            <p class="journalDate">{{ section.settings.article1.published_at | date: '%Y.%m.%d' }}</p>
            <div class="tagList">
              {%- if section.settings.article1.tags != blank -%}
                {% for tag in section.settings.article1.tags -%}
                  <span>{{ tag }}</span> 
                {%- endfor %}
              {%- endif -%}
            </div>
          </div>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.article2 != blank -%}
      <li>
        <a href="{{ section.settings.article2.url }}"> 
          <div class="imgBlock">
            <img src="{{ section.settings.article2.image | image_url: width: 400 }}">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">{{ section.settings.article2.title }}</p>
            <p class="journalDate">{{ section.settings.article2.published_at | date: '%Y.%m.%d' }}</p>
            <div class="tagList">
              {%- if section.settings.article1.tags != blank -%}
                {% for tag in section.settings.article1.tags -%}
                  <span>{{ tag }}</span> 
                {%- endfor %}
              {%- endif -%}
            </div>
          </div>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.article3 != blank -%}
      <li>
        <a href="{{ section.settings.article3.url }}"> 
          <div class="imgBlock">
            <img src="{{ section.settings.article3.image | image_url: width: 400 }}">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">{{ section.settings.article3.title }}</p>
            <p class="journalDate">{{ section.settings.article3.published_at | date: '%Y.%m.%d' }}</p>
            <div class="tagList">
              {%- if section.settings.article1.tags != blank -%}
                {% for tag in section.settings.article1.tags -%}
                  <span>{{ tag }}</span> 
                {%- endfor %}
              {%- endif -%}
            </div>
          </div>
        </a>
      </li>
    {%- endif -%}
    {%- if section.settings.article4 != blank -%}
      <li>
        <a href="{{ section.settings.article4.url }}"> 
          <div class="imgBlock">
            <img src="{{ section.settings.article4.image | image_url: width: 400 }}">
          </div>
          <div class="txtBlock">
            <p class="journalTtl">{{ section.settings.article4.title }}</p>
            <p class="journalDate">{{ section.settings.article4.published_at | date: '%Y.%m.%d' }}</p>
            <div class="tagList">
              {%- if section.settings.article1.tags != blank -%}
                {% for tag in section.settings.article1.tags -%}
                  <span>{{ tag }}</span> 
                {%- endfor %}
              {%- endif -%}
            </div>
          </div>
        </a>
      </li>
    {%- endif -%}
    </ul>
  </div>
</section>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.camuri-featured-blog.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "article",
      "id": "article1",
      "label": "t:sections.camuri-featured-blog.settings.article1.label"
    },
    {
      "type": "article",
      "id": "article2",
      "label": "t:sections.camuri-featured-blog.settings.article2.label"
    },
    {
      "type": "article",
      "id": "article3",
      "label": "t:sections.camuri-featured-blog.settings.article3.label"
    },
    {
      "type": "article",
      "id": "article4",
      "label": "t:sections.camuri-featured-blog.settings.article4.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.camuri-featured-blog.presets.name"
    }
  ]
}
{% endschema %}
