{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">

  <div id="journalDetailPage" class="content headerOn">
    <section id="journalHeadSec">
      <div class="contentIn">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              <div class="page-width page-width--narrow">
                {% render block %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
        <h1>{{ article.title | escape }}</h1>
        <p class="journalDate">{{ article.published_at | date: '%Y.%m.%d' }}</p>
       
        {%- if article.tags != blank -%}
         <div class="tagList">
          {% for tag in article.tags -%}
            <span>#{{ tag }}</span> 
          {%- endfor %}
          </div>
        {%- endif -%}
        
        {%- if article.metafields.camuri.blog_main_image.value != blank -%}
        <div class="imgBlock">
          {{ article.metafields.camuri.blog_main_image.value | image_url: width: 940 | image_tag: loading: "lazy"}}
        </div>
        {%- endif -%}
        
        <div class="shareButtonBlock">
          <p>please shere</p>
          <ul>
            <li><a href="#"><img src="{{ 'ico_instagram.png' | asset_url }}" alt="Instagram"></a></li>
            <li><a href="#"><img src="{{ 'ico_facebook.png' | asset_url }}" alt="Facebook"></a></li>
            <li class="ico_x"><a href="#"><img src="{{ 'ico_x.png' | asset_url }}" alt="X"></a></li>
          </ul>
        </div>
      </div>
    </section>
    
    <section id="journalBodySec">
      <div class="contentIn">
        {%- if article.metafields.camuri.blog_intro.value != blank -%}
          <p class="journalIntro">
          {{ article.metafields.camuri.blog_intro.value | escape | newline_to_br }}
          </p>
        {%- endif -%}
        <div class="acIndexBox">
          <input id="acIndex01" name="acIndex01" type="checkbox" />
          <label for="acIndex01">Index</label>
          <div class="acBlock">
          </div>
        </div>

        <div class="journalMain">
          <div
            class="article-template__content page-width page-width--narrow rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            itemprop="articleBody"
            {{ block.shopify_attributes }}
          >
            {{ article.content }}
          </div>
        </div>

        <div id="writingByBlock">
          {%- if article.metafields.camuri.writer != blank -%}
              <div class="imgBlock">
                <img src="{{ article.metafields.camuri.writer.value.prof_image | image_url: width: 160 }}" alt="{{ article.metafields.camuri.writer.value.name | escape }}">      
              </div>
          <div class="txtBlock">
            <p class="txt01">writing by</p>
            <p class="writerName">{{ article.metafields.camuri.writer.value.name | escape }}</p>
            <p class="writerProfile">
              {{ article.metafields.camuri.writer.value.profile | escape }}
            </p>
          </div>
          {%- endif -%}
        </div>

        <div class="btnBlock"><a href="#" class="btnStyleB01">ALL POST</a></div>
      </div>
    </section>

    {%- if article.metafields.camuri.blog_related_product != blank -%}
    <section id="journalRelatedSec">
      <div class="contentIn">
        <h3>この記事に出てきた商品</h3>
        <ul class="relatedItemList">
        {% for product in article.metafields.camuri.blog_related_product.value -%}
          <li>
            <a href="{{ product.url }}">
            <img src="{{ product.featured_media | image_url: width: 300 }}">
            <p class="itemTtl">{{ product.title | escape }}</p>
            <p class="itemPrice">{{ product.price | money }}<span>（税抜）</span></p>
          </li>
        {%- endfor %}
        </ul>
      </div>
    </section>
    {%- endif -%}

{{ section.settings.article1 | json }}
※※※※
    {%- if sections.blocks.article.settings.article1 != blank -%}
    <section id="journalReccomendSec">
      <div class="contentIn">
        <h3>RECOMMEND</h3>
        <ul id="journalReccomendList">
        {%- if  section.article.settings.article1 != blank -%}
          <li>
            <a href="{{  section.article.settings.article1.url }}"> 
              <div class="imgBlock">
                <img src="{{  section.article.settings.article1.image | image_url: width: 400 }}">
              </div>
              <div class="txtBlock">
                <p class="journalTtl">{{  section.article.settings.article1.title }}</p>
                <p class="journalDate">{{  section.article.settings.article1.published_at | date: '%Y.%m.%d' }}</p>
                <div class="tagList">
                  {%- if  section.article.settings.article1.tags != blank -%}
                    {% for tag in  section.article.settings.article1.tags -%}
                      <span>{{ tag }}</span> 
                    {%- endfor %}
                  {%- endif -%}
                </div>
              </div>
            </a>
          </li>
        {%- endif -%}
        </ul>
      </div>
    </section>
    {%- endif -%}
※※※※
  </div>
  <!--content-->

</article>



<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "article",
      "name": "t:sections.camuri-featured-blog.settings.article.label",
      "settings": [
        {
          "type": "article",
          "id": "article1",
          "label": "記事を選択"
        },
        {
          "type": "article",
          "id": "article2",
          "label": "記事を選択"
        },
        {
          "type": "article",
          "id": "article3",
          "label": "記事を選択"
        },
        {
          "type": "article",
          "id": "article4",
          "label": "記事を選択"
        }
      ]
    }
   
  ]
}
{% endschema %}
