{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}
{{ 'product.css' | asset_url | stylesheet_tag }}
{{ 'journal.css' | asset_url | stylesheet_tag }}
{{ 'search.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'main-search.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search.js' | asset_url }}" defer="defer"></script>

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

{% paginate search.results by 24 %}
  <div id="search" class="template-search{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %} section-{{ section.id }}-padding">
    <section id="searchFormSec">
      <div class="contentIn">

        {%- if search.terms -%}
        <h1 class="searchText"><span>{{ search.terms | escape }}</span> の検索結果</h1>
        {%- else -%}
        <h1 class="searchText">検索結果</h1>
        {%- endif -%}

        <div class="template-search__search">
          <main-search>
            <form action="{{ routes.search_url }}" method="get" role="search" class="search">
              <div class="field">
                <input
                  class="search__input field__input"
                  id="Search-In-Template"
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.search' | t }}"
                >
                <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
                <input name="options[prefix]" type="hidden" value="last">

                <button
                  type="reset"
                  class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
                  aria-label="{{ 'general.search.reset' | t }}"
                >
                  <svg class="icon icon-close" aria-hidden="true" focusable="false">
                    <use xlink:href="#icon-reset">
                  </svg>
                </button>
                <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="26.821" height="26.822" viewBox="0 0 26.821 26.822">
                    <g id="グループ_1339" data-name="グループ 1339" transform="translate(-500 -170)">
                      <path id="パス_135" data-name="パス 135" d="M16.9,2.9a9.9,9.9,0,1,0-.975,14.859l9.067,9.066L26.821,25l-9.066-9.067A9.918,9.918,0,0,0,16.9,2.9m-1.827,12.18a7.32,7.32,0,1,1,0-10.353,7.329,7.329,0,0,1,0,10.353" transform="translate(500 170)"/>
                      <rect id="長方形_113" data-name="長方形 113" width="26.703" height="25.981" transform="translate(500 170.722)" fill="none"/>
                    </g>
                  </svg>
                </button>
              </div>
            </form>
          </main-search>
        </div>

        {%- if search.performed -%}
          {% assign resultArticleCount = 0 %}
          {% assign resultProductCount = 0 %}
          {% assign resultPageCount = 0 %}

          {% assign resultArticle = '' %}
          {% assign resultProduct = '' %}
          {% assign resultPage = '' %}

          {%- for item in search.results -%}
            {% assign lazy_load = false %}
            {%- if forloop.index > 2 -%}
              {%- assign lazy_load = true -%}
            {%- endif -%}
            
            {%- case item.object_type -%}

              {%- when 'article' -%}
                {% assign resultArticleCount = resultArticleCount | plus: 1 %}
                {% capture resultArticle %}
                  {{resultArticle}}
                  <li class="blog-articles__article">
                    <a href="{{ item.url }}"> 
                      <div class="imgBlock">
                        {%- if item.image -%}
                          <img src="{{ item.image.src | image_url: width: 320 }}">
                        {%- else -%}
                          <img src="{{ 'img_noimage_sqr.png' | asset_url }}" alt="No image">
                        {% endif %}
                        <div class="tabWrap"><span>TIPS</span></div>
                      </div>
                      <p class="journalTtl">{{ item.title | escape }}</p>
                      {%- if show_date -%}
                        <p class="journalDate">{{ item.published_at | date: '%Y.%m.%d' }}</p>
                      {%- endif -%}
                    </a>
                    {%- if item.tags != blank -%}
                     <div class="tagList">
                      {% for tag in item.tags -%}
                        <span>#{{ tag }}</span>　
                      {%- endfor %}
                      </div>
                    {%- endif -%}
                  </li>
                {% endcapture %}

              {%- when 'product' -%}
                {% assign resultProductCount = resultProductCount | plus: 1 %}
                {% capture resultProduct %}
                  {{resultProduct}}
                  <li>
                    <a href="{{ item.url }}"> 
                      <div class="imgBlock">
                        <img src="{{ item.featured_image | product_img_url: 'large' }}" alt="{{ item.title }}">
                        <div class="tabWrap">
                          {%- if item.metafields.camuri.label_limited -%}
                          <span class="labelLimited">LIMITED</span>
                          {%- endif -%}
                          {%- if item.available == false -%}
                          <span class="labelSolidOut">SOLD OUT</span>
                          {%- endif -%}
                        </div>
                      </div>
                      <p class="itemTtl">{{ item.title }}</p>
                      <p class="itemPrice">{{ item.price | money }}<span>（税込）</span></p>
                      <p class="itemTxt">{{ item.metafields.camuri.excerpt }}</p>
                    </a>
                    <div class="tagList">
                    {% for tag in item.tags %}
                      <a href="/collections/all/{{ tag }}" class="tagColWht">{{ tag }}</a>
                    {% endfor %}
                    </div>
                  </li>
                {% endcapture %}
               
              {%- when 'page' -%}
                {% assign resultPageCount = resultPageCount | plus: 1 %}
                {% capture resultPage %}
                {{resultPage}}
                 <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endcapture %}
            {%- endcase -%}
          {%- endfor -%}
        {%- endif -%}

        <ul id="searchTypeList" role="tabList">
          <li>
              <button class="tabSearchItem" role="tab" aria-controls="serachResultArticle" aria-selected="true" data-type="article">
              <p class="searchTypeTxt01"><span class="txtTypeName">JORNAL</span><span class="txtCnt">{{ resultArticleCount }}</span></p>
              <p class="searchTypeTxt02">よみもの</p>
              </button>
          </li>
          <li>
              <button class="tabSearchItem" role="tab" aria-controls="serachResultProduct" aria-selected="false" data-type="product">
              <p class="searchTypeTxt01"><span class="txtTypeName">ITEM</span><span class="txtCnt">{{ resultProductCount }}</span></p>
              <p class="searchTypeTxt02">商品</p>
              </button>
          </li>
          <li>
              <button class="tabSearchItem" role="tab" aria-controls="serachResultPage" aria-selected="false" data-type="page">
              <p class="searchTypeTxt01"><span class="txtTypeName">PAGE</span><span class="txtCnt">{{ resultPageCount }}</span></p>
              <p class="searchTypeTxt02">その他のページ</p>
              </button>
          </li>
        </ul>
      </div><!-- contentIn -->
    </section>

    {%- if search.performed -%}
      <section id="resultSec">
        <div class="contentIn">
          <div class="panelGroup">
            <div class="panel" id="serachResultArticle" role="tabpanel" aria-hidden="false">
              {%- if resultArticleCount > 0 -%}
              <ul id="journalList">{{ resultArticle }}</ul>
              {%- else -%}
              <p>該当データがありません</p>
              {%- endif -%}
            </div>
            <div class="panel" id="serachResultProduct" role="tabpanel" aria-hidden="true">
              {%- if resultProductCount > 0 -%}
              <ul id="itemList">{{ resultProduct }}</ul>
              {%- else -%}
              <p>該当データがありません</p>
              {%- endif -%}
            </div>
            <div class="panel" id="serachResultPage" role="tabpanel" aria-hidden="true">
              {%- if resultPageCount > 0 -%}
              <ul id="pageList">{{ resultPage }}</ul>
              {%- else -%}
              <p>該当データがありません</p>
              {%- endif -%}
            </div>
          </div>
        </div>
      </section>


      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate %}
      {%- endif -%}


    {%- endif -%}
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "t:sections.main-search.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-search.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-search.settings.show_rating.label",
      "info": "t:sections.main-search.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content",
      "info": "t:sections.main-search.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-search.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-search.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-search.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
