	<div id="about">
		<section id="conceptSec">
			<div class="contentIn">
				<h2 class="menuTitleStyle fadeIn">ABOUT</h2>
				<div class="mainImgBlock fadeIn"><img src="{{ 'img_about_main01.png' | asset_url }}"></div>
				<div class="txtBlock">
					<h3 class="fadeIn"><span>CONCEPT</span>Think about every fit.</h3>
					<p class="fadeIn">
						CAMURIが目指すのは<br>
						すべての人にフィットする帽子作り。<br>
						毎日を生きるあなたの頭と生活に<br class="spOnly">心地よく馴染んで、<br>
						かぶると少し自信がもてる。<br>
						そんな当たり前で特別な帽子を、<br class="spOnly">あらゆる人に届けたい。<br>
						かぶる人、つくる人、関わるみんなの日常を、<br>
						ちょっとだけ幸せにできるように。<br>
						Think about every fit.
					</p>
				</div>
			</div>
			<div class="contentPcIn">
				<div class="imgBlock">
					<div id="conceptImg01" class="fadeIn"><img src="{{ 'img_about_concept_01.png' | asset_url }}"></div>
					<div id="conceptImg02" class="fadeIn"><img src="{{ 'img_about_concept_02.png' | asset_url }}"></div>
					<div id="conceptImg03" class="fadeIn"><img src="{{ 'img_about_concept_03.png' | asset_url }}"></div>
					<div id="conceptImg04" class="fadeIn"><img src="{{ 'img_about_concept_04.png' | asset_url }}"></div>
				</div>
			</div>
		</section>
		<!-- conceptSec -->

		<section id="promiseSec">
			<div class="contentIn">
				<h3 class="fadeIn"><span>PROMISE</span>CAMURIの3つの約束</h3>
				<ul class="promiseList">
					<li class="fadeIn">
						<div class="txtBlock">
							<div class="ttlWrap">
								<p class="numTxt">1</p>
								<p class="titleTxt">フリーサイズはフリーじゃない。<br>あなたの頭のフィットが見つかるサイズ展開。</p>
							</div>
							<p class="descTxt">
								帽子に多い「フリーサイズ」。<br>
								でもそれって誰にとってのフリーなのだろう？<br>
								CAMURIには標準サイズにとらわれない、<br class="pcOnly">
								誰もがフィットを見つけられる<br class="pcOnly">
								サイズラインアップを目指しました。
							</p>
						</div>
						<div class="imgBlock"><img src="{{ 'img_about_promise_01.png' | asset_url }}"></div>
					</li>
					<li class="fadeIn">
						<div class="txtBlock">
							<div class="ttlWrap">
								<p class="numTxt">2</p>
								<p class="titleTxt">出会った時もその先も、<br>永く愛せるデザインと品質で生活にフィット。</p>
							</div>
							<p class="descTxt">
								自分にフィットする1個が見つかったら毎日使いたい。<br>
								全ての商品は生地・縫製・検品に高い水準を設け<br class="pcOnly">
								ヘビーユースに耐える国産品質と、<br class="pcOnly">
								流行り廃りのないベーシックなデザイン。<br>
								かぶるほど頭に馴染む帽子です。
							</p>
						</div>
						<div class="imgBlock"><img src="{{ 'img_about_promise_02.png' | asset_url }}"></div>
					</li>
					<li class="fadeIn">
						<div class="txtBlock">
							<div class="ttlWrap">
								<p class="numTxt">3</p>
								<p class="titleTxt">コストも工程も、お叱りの声もオープンに。<br>良いモノを共につくるカルチャーフィット。</p>
							</div>
							<p class="descTxt">
								良いもの作りは、良い過程があってこそと信じています。<br>
								お客様はもちろん製造に関わる人とも良い関係を結び<br class="pcOnly">
								フェアであり続ける事を基本姿勢としています。<br>
								商品ページやジャーナルで製造背景やコストなども<br class="pcOnly">
								公開しているのでぜひご覧ください。
							</p>
						</div>
						<div class="imgBlock"><img src="{{ 'img_about_promise_03.png' | asset_url }}"></div>
					</li>
				</ul>
			</div>
		</section>
		<!-- promiseSec -->

		<section id="messageSec">
			<div class="contentIn">
				<h3 class="fadeIn"><span>MESSAGE</span>CAMURIのメッセージ</h3>
				<div class="contentWrap fadeIn">
					<div class="txtBlock">
						<p class="titleTxt">帽子に関わり続けてきたからこそ作りたかった<br>誰でも「フィット」が見つかる帽子。</p>
						<p class="descTxt">
							こんにちは、株式会社nakota代表の吉田と申します。<br>
							私たちは「nakota」というブランドを通じて品質と機能に特化した帽子を提供してきました。今までの帽子づくりで得た知見や経験を通じて、さらに沢山の方に愛される帽子を提供することを目指し、新たに「CAMURI」というブランドを立ち上げることとなりました。<br>
							CAMURIのコンセプトは、「すべての人にフィットする帽子を作ること」です。帽子が日常に自然に溶け込み、帽子が似合わない、あまり被る機会が少ないという人たちにも、自信を与えてくれるような帽子づくりを目指しています。<br>
							この【普通だけど特別な帽子】を通じて、皆様の毎日が少しでも幸せになることを願っています。<br>
						</p>
					</div>
					<div class="imgBlock"><img src="{{ 'img_about_message_01.png' | asset_url }}"></div>
				</div>
			</div>
		</section>
		<!-- messageSec -->

		<section id="flowImageSec">
			<h4 class="fadeIn"><span>We keep thinking about fit</span></h4>
			<div class="infinityScrollWrap fadeIn">
				<ul class="infinityScrolllist">
					<li><img src="{{ 'img_about_flow_01.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_02.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_03.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_04.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_05.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_06.png' | asset_url }}"></li>
				</ul>
				<ul class="infinityScrolllist">
					<li><img src="{{ 'img_about_flow_01.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_02.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_03.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_04.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_05.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_06.png' | asset_url }}"></li>
				</ul>
			</div>
		</section>
	</div>
	<!--content-->
{% comment %}
 <section id="aboutSec">
	<div class="txtBlock fadeIn">
		<p>
			{{ section.settings.topAboutText | newline_to_br }}
		</p>
	</div>
	<div class="imgBlock fadeIn"><img src="{{  section.settings.topAboutImg | img_url: 'master' }}"></div>
	<div class="btnBlock fadeIn"><a href="{{ pages.about.url }}" class="btnStyleB01">ABOUT</a></div>
</section>
{% endcomment %}

{% schema %}
  {
    "name": "トップ アバウト",
    "tag": "section",
	"class": "top_about",
    "settings": [
		{
			"type": "textarea",
			"id": "topAboutText",
			"label": "コピー"
		},
		{
			"type": "url",
			"id": "topAboutLink",
			"label": "リンク"
		},
		{
			"type": "image_picker",
			"id": "topAboutImg",
			"label": "画像"
		}
	],
	"presets": [
		{
			"name": "トップ アバウト"
		}
	]
  }
{% endschema %}