	<div id="fitting">
		<section id="fittingAboutSec">
			<div class="contentIn">
				<h2 class="fadeIn">FITTING SERVICE<span>試着サービス</span></h2>
				<div class="mainImgBlock fadeIn"><img src="{{ 'img_fitting_main.png' | asset_url }}"></div>
				<div class="txtBlock">
					<h3 class="fadeIn">
						送料 & 返品無料だから<br>
						商品到着後も安心して<br class="spOnly">お試しいただけます。
					</h3>
					<p class="fadeIn">
						「似合わなかったらどうしよう」<br class="spOnly">「普段の服装にあわせてみたい」<br>
						そんな方に向けて、CAMURIでは<br class="spOnly">「商品の送料もご返送も無料で行なっております。<br>
						買ってみた帽子が合わなくても、交換・返品を気兼ねなくできるから<br class="pcOnly">
						安心していくつかサイズや種類をトライいただけます。<br>
						少しのサイズや形の違いで印象が変わる帽子。<br>
						被ってみないと分からないからこそ、是非お気軽にお試しください。
					</p>
				</div>
				<ul class="fittingPointList">
					<li>
						<img src="{{ 'img_fitting_point_01.png' | asset_url }}" class="choose5 fadeIn">
						<p class="fadeIn">「これ合うかな？」<br>気になるものを最大5種類<br class="pcOnly">選んで試着ボタンで追加。</p>
					</li>
					<li>
						<img src="{{ 'img_fitting_point_02.png' | asset_url }}" class="choose5 fadeIn">
						<p class="fadeIn">送料も返送料も0円。<br>初回に限らず<br class="pcOnly">何度もご利用が可能です。</p>
					</li>
					<li>
						<img src="{{ 'img_fitting_point_03.png' | asset_url }}" class="choose5 fadeIn">
						<p class="fadeIn">気に入ったものだけを<br class="pcOnly">「後から」決済。<br class="pcOnly">返品手続きもカンタン。</p>
					</li>
				</ul>
			</div>
			
		</section>
		<!-- fittingAboutSec -->

		<section id="fittingFlowSec">
			<div class="contentIn">
				<h3 class="fadeIn">試着サービスのくわしい流れ</h3>
				<ul class="fittingFlowList fadeIn">
					<li class="fadeIn">
						<div class="imgBlock"><img src="{{ 'img_fitting_flow_01.png' | asset_url }}"></div>
						<div class="txtBlock">
							<p class="titleTxt">① 試してみたい商品を<br class="spOnly">カートにいれる</p>
							<p class="descTxt">
								種類、サイズ、色は自由に組み合わせできるので、同じ帽子のサイズ違いを複数選ぶことも可能です。注文数は最大5点までとなります。
							</p>
						</div>
					</li>
					<li class="fadeIn">
						<div class="imgBlock"><img src="{{ 'img_fitting_flow_02.png' | asset_url }}"></div>
						<div class="txtBlock">
							<p class="titleTxt">② 会員登録して無料でご注文</p>
							<p class="descTxt">
								既にアカウントをお持ちの方はログインしてください。（新規のお客様はこちらから無料の会員登録を行ってください）ご注文時には試着商品がカート内で0円に設定されていることをご確認ください。
							</p>
							<p class="descTxt2">
								※試着サービスのご利用にはご注文時にクレジットカードのご登録が必要となります。 <br>
								<br>
								※試着のご注文と、通常のご購入を同時にされた場合はそれらの合計金額がカート内に表示されます。
							</p>
						</div>
					</li>
					<li class="fadeIn">
						<div class="imgBlock"><img src="{{ 'img_fitting_flow_03.png' | asset_url }}"></div>
						<div class="txtBlock">
							<p class="titleTxt">③ ご注文から最短翌日〜3日で<br class="Only">ご自宅へ到着</p>
							<p class="descTxt">
								ご注文完了日から最短翌日〜3日でご自宅に商品が届きます。<br class="pcOnly">
								（期間はエリアなどによって変わるのでご留意ください）開封してゆっくりご試着ください。
							</p>
						</div>
					</li>
					<li class="fadeIn">
						<div class="imgBlock"><img src="{{ 'img_fitting_flow_04.png' | asset_url }}"></div>
						<div class="txtBlock">
							<p class="titleTxt">④ 欲しい物だけ残したら、<br class="spOnly">残りは5日以内に<br class="pcOnly">返品リクエスト </p>
							<p class="descTxt">
								ご試着期間は商品到着日から5日以内となります。気に入った商品だけを残して、あとは<span class="stg">返品受付センター</span>から返品あるいは交換をリクエストを送信してください。
							</p>
						</div>
					</li>
					<li class="fadeIn">
						<div class="imgBlock"><img src="{{ 'img_fitting_flow_05.png' | asset_url }}"></div>
						<div class="txtBlock">
							<p class="titleTxt">⑤ リクエスト確認後に着払いで<br class="spOnly">ご返送ください</p>
							<p class="descTxt">
								<span class="stg">返品受付センター</span>からリクエスト受付の連絡が来たらお近くのコンビニ、配送センター、郵便局から商品をご返送ください。検品後にすみやかにご返金あるいは交換商品の発送をいたします。<br>
								※返金をご希望の場合、購入時のお支払い方法に合わせてご返金いたします。<br>
								※返品はお届け時の箱でなくても構いません。<br>
							</p>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<!-- fittingFlowSec -->

		<section id="fittingNoteSec">
			<div class="contentIn">
				<div class="contentWrap fadeIn">
					<h3>ご利用にあたってのご注意</h3>
					
					<ul class="fittingNoteList">
						<li>以下の場合、返品交換をお断りする場合がありますのでご了承ください。</li>
						<li>- 商品到着日から【5日以上】を経過した場合</li>
						<li>- 着用済み（外でのご着用や長時間のご使用を想定）、洗濯、クリーニング、品質表示タグのカットをされた商品</li>
						<li>- 商品を破損・汚損、紛失された場合</li>
						<li>- お客さまのもとでにおいが付着したり、汚れ、キズが生じた商品</li>
						<li>- 商品をご返送いただいた時の状態が、お届け時と大きく異なる商品</li>
					</ul>
				</div>
				<div class="btnBlock fadeIn"><a href="https://camuri.rcmr.io" target="_blank" class="btnStyleB01">返品受付センター</a></div>
			</div>
		</section>
		<!-- fittingNoteSec -->

	</div>
	<!--content-->
