	<div id="about">
		<section id="conceptSec">
			<div class="contentIn">
				<h2 class="menuTitleStyle">ABOUT</h2>
				<div class="mainImgBlock"><img src="{{ 'img_about_main01.png' | asset_url }}"></div>
				<div class="txtBlock">
					<h3><span>CONCEPT</span>Think about every fit.</h3>
					<p>
						CAMURIが目指すのは<br>
						すべての人にフィットする帽子作り。<br>
						毎日を生きるあなたの頭と生活に<br class="spOnly">心地よく馴染んで、<br>
						かぶると少し自信がもてる。<br>
						そんな当たり前で特別な帽子を、<br class="spOnly">あらゆる人に届けたい。<br>
						かぶる人、つくる人、関わるみんなの日常を、<br>
						ちょっとだけ幸せにできるように。<br>
						Think about every fit.
					</p>
				</div>
			</div>
			<div class="contentPcIn">
				<div class="imgBlock">
					<div id="conceptImg01"><img src="{{ 'img_about_concept_01.png' | asset_url }}"></div>
					<div id="conceptImg02"><img src="{{ 'img_about_concept_02.png' | asset_url }}"></div>
					<div id="conceptImg03"><img src="{{ 'img_about_concept_03.png' | asset_url }}"></div>
					<div id="conceptImg04"><img src="{{ 'img_about_concept_04.png' | asset_url }}"></div>
				</div>
			</div>
		</section>
		<!-- conceptSec -->

		<section id="promiseSec">
			<div class="contentIn">
				<h3><span>PROMISE</span>CAMURIの3つの約束</h3>
				<ul class="promiseList">
					<li>
						<div class="txtBlock">
							<div class="ttlWrap">
								<p class="numTxt">1</p>
								<p class="titleTxt">フリーサイズはフリーじゃない。<br>あなたの頭のフィットが見つかるサイズ展開。</p>
							</div>
							<p class="descTxt">
								帽子に多い「フリーサイズ」。<br>
								でもそれって誰にとってのフリーなのだろう？<br>
								CAMURIには標準サイズにとらわれない、<br class="pcOnly">
								誰もがフィットを見つけられる<br class="pcOnly">
								サイズラインアップを目指しました。
							</p>
						</div>
						<div class="imgBlock"><img src="{{ 'img_about_promise_01.png' | asset_url }}"></div>
					</li>
					<li>
						<div class="txtBlock">
							<div class="ttlWrap">
								<p class="numTxt">2</p>
								<p class="titleTxt">出会った時もその先も、<br>永く愛せるデザインと品質で生活にフィット。</p>
							</div>
							<p class="descTxt">
								自分にフィットする1個が見つかったら毎日使いたい。<br>
								全ての商品は生地・縫製・検品に高い水準を設け<br class="pcOnly">
								ヘビーユースに耐える国産品質と、<br class="pcOnly">
								流行り廃りのないベーシックなデザイン。<br>
								かぶるほど頭に馴染む帽子です。
							</p>
						</div>
						<div class="imgBlock"><img src="{{ 'img_about_promise_02.png' | asset_url }}"></div>
					</li>
					<li>
						<div class="txtBlock">
							<div class="ttlWrap">
								<p class="numTxt">3</p>
								<p class="titleTxt">コストも工程も、お叱りの声もオープンに。<br>良いモノを共につくるカルチャーフィット。</p>
							</div>
							<p class="descTxt">
								良いもの作りは、良い過程があってこそと信じています。<br>
								お客様はもちろん製造に関わる人とも良い関係を結び<br class="pcOnly">
								フェアであり続ける事を基本姿勢としています。<br>
								商品ページやジャーナルで製造背景やコストなども<br class="pcOnly">
								公開しているのでぜひご覧ください。
							</p>
						</div>
						<div class="imgBlock"><img src="{{ 'img_about_promise_03.png' | asset_url }}"></div>
					</li>
				</ul>
			</div>
		</section>
		<!-- promiseSec -->

		<section id="messageSec">
			<div class="contentIn">
				<h3><span>MESSAGE</span>CAMURIのメッセージ</h3>
				<div class="contentWrap">
					<div class="txtBlock">
						<p class="titleTxt">私が帽子が似合わない。<br class="spOnly">そんな声がきっかけだった。<br>仮のタイトル仮のタイトル</p>
						<p class="descTxt">
							自分たちが信じるコーヒーの素晴らしさを伝えること。<br>
							素材をつくる産地の人々、日本まで運んでくれる人々、<br class="pcOnly">
							珈琲屋としての私たち、楽しんでくださる人々、その先にいる人々。<br>
							コーヒーを通して、コーヒーを取り巻く世界、<br class="pcOnly">
							その先の世界を少しだけ豊かに、楽しくすること。<br>
							そして、先人達が築いてきた珈琲文化を継承しながら、<br class="pcOnly">
							日本発の新しいCOFFEEのCLASSICを創造していくこと。<br>
							あたりまえのことをあたりまえにやりきることが<br class="pcOnly">
							その実現に繋がると信じて、今日もコーヒーに向き合っていきます。<br>
							そして、先人達が築いてきた珈琲文化を継承しながら、<br class="pcOnly">
							日本発の新しいCOFFEEのCLASSICを創造していくこと。<br>
							あたりまえのことをあたりまえにやりきることが<br class="pcOnly">
							その実現に繋がると信じて、今日もコーヒーに向き合っていきます。<br>
						</p>
					</div>
					<div class="imgBlock"><img src="{{ 'img_about_message_01.png' | asset_url }}"></div>
				</div>
			</div>
		</section>
		<!-- messageSec -->

		<section id="flowImageSec">
			<h4><span>We keep thinking about fit</span></h4>
			<div class="infinityScrollWrap">
				<ul class="infinityScrolllist">
					<li><img src="{{ 'img_about_flow_01.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_02.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_03.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_04.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_05.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_06.png' | asset_url }}"></li>
				</ul>
				<ul class="infinityScrolllist">
					<li><img src="{{ 'img_about_flow_01.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_02.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_03.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_04.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_05.png' | asset_url }}"></li>
					<li><img src="{{ 'img_about_flow_06.png' | asset_url }}"></li>
				</ul>
			</div>
		</section>
	</div>
	<!--content-->